<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>ASCII Art Generator</title>
  <link rel="stylesheet" href="/static/main.css">
</head>
<body class="main-page">
  <div class="greeting">ASCII - ART</div>
  <form class="main-form" action="/ascii-art" method="get" target="_blank">
    <textarea class="form-input" name="text" placeholder="Введите текст">Some Text</textarea>
    <select class="form-select" name="banner">
      <option value="shadow">shadow</option>
      <option value="standard">standard</option>
      <option value="thinkertoy">thinkertoy</option>
    </select>
    <button class="submit-btn" type="submit">Создать ASCII Art</button>
  </form>
</body>
</html>